*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
}

@font-face {
    font-family: "Lato";
    src: url("../font/Lato-Regular.ttf");
}

body{
    position: relative;
    /* Background image */
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Loading Screen */
.loading-screen{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50000;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    transition: opacity 0.2s linear;
}

.loading-screen > p{
    position: relative;
    text-align: center;
    font-size: 3em;
    top: 50%;
    transform: translate(0,-100%);
}

/* Header*/
h1{
    font-size: 2.5em;
    text-align: center;
}

/* Board Flex Container */
.flex-container{
    display: flex;
    /* To-do: Add Media Query to adjust margin along with cell size */
    margin-left: calc(50% - 400px/2);
    margin-right: calc(50% - 400px/2);
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    justify-content: space-around;
    align-items: center;
}

.mode-dropdown, .reset-btn, .mine-count, .time-count{
    display: inline-block;
    position: relative;
    border-radius: 5px;
    color: white;
    background-color: rgb(233, 74, 74);
    padding: 3px 6px 3px 6px;
    margin: 0 10px 0 10px;
    flex: 1;
}

.reset-btn{
    border: 2px solid rgb(214, 25, 25);
    color: white;
    background-color: rgb(233, 74, 74);
}

.mode-dropdown{
    border: 2px solid rgb(21, 133, 6);
    color: white;
    background-color: rgb(103, 228, 31);
    text-align: center;
    cursor: alias;
}

.mine-count{
    min-width: 50px;
    border: 2px solid rgb(238, 238, 238);
    color: white;
    background-color: rgb(151, 151, 151);    
}

.time-count{
    min-width: 50px;
    border: 2px solid rgb(202, 202, 202);
    color: black;
    background-color: rgb(223, 223, 223);
}

/* Flag Toggle Button and its side components */
.flag-btn{
    z-index: 100;
    display: inline-block;
    /* position: absolute;
    left: 50%;
    transform: translate(-50%,0); */
    background-color: inherit;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 6px 0px 6px 0px;
    margin-left: 12px;
    margin-right: 12px;
    flex: 1;
}

/* The board */
.board, .hidden-board{
    margin-top: 2em;
    /* Centering the board */
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 10;
}

.hidden-board{
    z-index: 1;
}

.mine-cell{
    position: relative;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    font-size: 20px;
    /* Glassmorphism */
    background-color: rgba(255,255,255,0.35);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* Properties */
    border: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s linear, transform 0.4s linear, opacity 0.5s linear;
}

.mine-cell-hover:hover{
    background-color: rgba(255,255,255,0.6);
}

.mine-cell-hover:active{
    background-color: rgba(255,255,255,0.1);
}

.hidden-mine-cell{
    position: relative;
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    font-size: 24px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0);
}

@media(max-width: 410px){
    h1{ font-size: 1.75em; }

    .mine-cell, .hidden-mine-cell{
        width: 35px;
        height: 35px;
        min-width: 35px;
        min-height: 35px;
        font-size: 20px;
    }

    .board-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 5px;
        transform: none;
        left: 0;
    }

    .flex-container{
        margin-left: calc(50% - 280px/2);
        margin-right: calc(50% - 280px/2);
    }
}